<div class="container">
  <h2>Accessibility Statement for <span class="basic-information website-name">#LeashApp</span></h2>
  <p>
  	This is an accessibility statement from <span class="basic-information organization-name">#LeashApp</span>.
  </p>
  <h3>Measures to support accessibility</h3>
  <p>
  	<span class="basic-information organization-name">#LeashApp</span>
  	takes the following measures to ensure accessibility of
  	<span class="basic-information website-name">#LeashApp</span>:
  </p>
  <ul class="organizational-effort accessibility-measures">
  	<li>Include accessibility as part of our mission statement.</li>
  	<li>Include accessibility throughout our internal policies.</li>
  	<li>Integrate accessibility into our procurement practices.</li>
  	<li>Appoint an accessibility officer and/or ombudsperson.</li>
  	<li>Provide continual accessibility training for our staff.</li>
  	<li>Assign clear accessibility goals and responsibilities.</li>
  	<li>Employ formal accessibility quality assurance methods.</li>
  </ul>
  <h3>Conformance status</h3>
  <p>
  	The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA.
  	<span class="basic-information website-name">#LeashApp</span>
  	is
  	<span class="basic-information conformance-status" data-printfilter="lowercase">fully conformant</span>
  	with
  	<span class="basic-information conformance-standard"><span data-negate="">WCAG 2.1 level AA</span>.</span>
  	<span>
  	<span class="basic-information conformance-status">Fully conformant</span>
  	means that
  	<span class="basic-information conformance-meaning">the content fully conforms to the accessibility standard without any exceptions</span>.
  </span>
  </p>
  <h4>Additional accessibility considerations</h4>
  <p class="basic-information conformance-additions">Although our goal is WCAG 2.1 Level AA conformance, we have also applied some Level AAA Success Criteria: Images of text are only used for decorative purposes. Re-authentication after a session expires does not cause loss of data. Some videos have sign language interpretation.</p>
  <h3>Feedback</h3>
  <p>
  	We welcome your feedback on the accessibility of
  	<span class="basic-information website-name">#LeashApp</span>.
  	Please let us know if you encounter accessibility barriers on
  	<span class="basic-information website-name">#LeashApp</span>:
  </p>
  <ul class="basic-information feedback h-card">
  	<li>
  	E-mail:
  	<a class="email u-email" href="mailto:privacy@leashapp.io">privacy@leashapp.io</a>
  </li>
  </ul>
  <p>
  	We try to respond to feedback within <span class="feedback responsetime">14 business days</span>.
  </p>
  <h3>Technical specifications</h3>
  <p>
  	Accessibility of
  	<span class="basic-information website-name">#LeashApp</span>
  	relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:
  </p>
  <ul class="technical-information technologies-used">
  	<li>HTML</li>
  	<li>CSS</li>
  	<li>JavaScript</li>
  	<li>Ruby</li>
  </ul>
  <p>These technologies are relied upon for conformance with the accessibility standards used.</p>
  <h3>Limitations and alternatives</h3>
  <p>
  	Despite our best efforts to ensure accessibility of
  	<span class="basic-information website-name">#LeashApp</span> , there may be some limitations. Below is a description of known limitations, and potential solutions. Please contact us if you observe an issue not listed below.
  </p>
  <p>
  	Known limitations for
  	<span class="basic-information website-name">#LeashApp</span>:
  </p>
  <ol class="technical-information accessibility-limitations">
  	<li><strong>Uploaded Images</strong>: Uploaded images may not have text alternatives because We cannot ensure the quality of contributions. We monitor uploaded images and typically repair issues within 14 business days. Please use the ‘report issue’ button if you encounter an issue.</li>
  </ol>
  <h3>Assessment approach</h3>
  <p>
  	<span class="basic-information organization-name">#LeashApp</span>
  	assessed the accessibility of
  	<span class="basic-information website-name">#LeashApp</span>
  	by the following approaches:
  </p>
  <ul class="technical-information assessment-approaches">
  	<li>Self-evaluation</li>
  </ul>
  <h3>Evaluation report</h3>
  <p>
  	An evaluation report for
  	<span class="basic-information website-name">#LeashApp</span>
  	is available at:
  	<a class="technical-information related-evidence" href="privacy@leashapp.io">privacy@leashapp.io</a>.
  </p>
  <h3>Evaluation report</h3>
  <p>
  	An evaluation statement for
  	<span class="basic-information website-name">#LeashApp</span>
  	is available at:
  	<a class="technical-information related-evidence" href="privacy@leashapp.io">privacy@leashapp.io</a>.
  </p>
  <h3>Other evidence</h3>
  <p>Other related evidence for <span class="basic-information website-name">#LeashApp</span> is available at:</p>
  <ul class="technical-information related-evidence-other">
  	<li>privacy@leashapp.io</li>
  </ul>
  <h3>Formal complaints</h3>
  <p class="complaints">Please contact #LeashApp at privacy@leashapp.io, or use the contact form to send us a message at https://leashapp.io/contact, or use the 'report button' if you encounter an issue.</p>
  <h3>Formal approval of this accessibility statement</h3>
  <p>This Accessibility Statement is approved by:</p>
  <p class="approval">
  	<span class="basic-information organization-name">#LeashApp</span><br>
  	<span class="approved-by">#LeashApp</span><br>
  	<span class="approved-by-jobtitle">privacy@leashapp.io</span>
  </p>
  <hr noshade="noshade">
  <h3>Date</h3>
  <p>
  	This statement was created on
  	<span class="basic-information statement-created-date">1 May 2023</span>
  	using the <a href="https://www.w3.org/WAI/planning/statements/">W3C Accessibility Statement Generator Tool</a>.
  </p>
</div>
