<div class="container">
  <script>
    window.setTimeout(function() {
      history.back();
    }, 3000);
  </script>
  <div class="row justify-content-center pt-2 pb-2">
  <hr>
    <div class="col-auto me">
      <%= image_tag "coming_soon_pup640.webp", class: "img-fluid", alt: "Responsive image" %>
    </div>
  </div>
</div>
