<form action="/send_contact" method="post">
   <input name="email" type="email" class="form-control mb-1" placeholder="Your email">
   <textarea name="message" class="form-control" placeholder="Your message"></textarea>
   <button type="submit">Submit</button>
</form>
