<h1>Ruff, let's go outside!</h1>
<hr>
<h3>#LeashApp is a CRM app for dog walkers. Yup. Just for you.</h3>
<hr>

<div class="row">
  <div class="col-sm-6 pb-5">
    <h4>Automate your dog-walking.</h4>
    We're here to make it easier for you to keep track of your side-hustle and help your business run more efficiently. Stay organized and get paid.<br>
    <br>
    <h6>Just let us do all the barking.</h6>
    Don't worry -- we speak woof.
    <br>
    <ul>
      <li>Manage your clients</li>
      <li>Add photos and favorite treats</li>
      <li>Create and assign walk schedules</li>
      <li>Process all of your billing and reports</li>
      <li><em>All in one place!</em></li>
    </ul>
    <br>
    <h5>Help improve Leash: <%= link_to "Sign up for the beta!", feedback_path %></h5>
    <em><h6>Interested in joining the development team?</h6></em>
    We'd love to <a href="mailto:speak@leashapp.io">chat</a> or hop on Zoom!
    <br><hr>
  </div>
  <div class="col-sm-6 pb-5">
    <strong>Current Features (v1.5.4[BETA], 06.2023):</strong> Dashboard, User Admin Tools, Client Management, Client Access, Referral Code Invites, Pet Database, Schedule Walks, CSV Exports, Invoices (CSV)
    <br><br>
    <em>Coming soon!</em> | Reports, Billing, Invoices, Calendar, Messaging, Maps & Routes, Community Forum, Blog, Mobile Checkins & Dropoffs, and more!
    <br><br>
    <%= image_tag "lets-go-outside-sunny-dog.webp",  class: "img-fluid", alt: "Responsive image" %>
    <br><hr>
  </div>
</div>
