<h1>Ruh-oh! There was an error :( ...</h1>
<p>Please use the BACK button and try again.</p>
<p>If problem persists, please contact us at: <a href="mailto:notify@leashapp.io">notify@leashapp.io</a></p>

<br>
<br>

<%= image_tag "error-500-giphy-dog-confused-xT0xeuOy2Fcl9vDGiA.gif", class: "img-fluid", alt: "Responsive image" %>
