<h1>Ruh-oh! This page does not exist ...</h1>
<p>Please use the BACK button and try again.</p>
<p>If problem persists, please contact us at: <a href="mailto:notify@leashapp.io">notify@leashapp.io</a></p>
<br>

<%= image_tag "error-404-giphy-dog-digging-URoLoCo1s9jm8.gif", class: "img-fluid", alt: "Responsive image" %>
